{% extends 'base/base.html' %}
{% block title %} Выберите организацию {% endblock %}
{% block body %}
<div class="conatiner d-grid w-100 p-0 m-0">
<div class="card mb-2 shadow-sm w-100">
    <div class="card-body d-flex gap-2 p-2">
        <a type="button" class="btn btn-outline-primary flex-fill" href="{% url 'user-dashboard' %}"><b>Дашборд</b></a>
        <a type="button" class="btn btn-primary flex-fill" href="{% url 'requests-admin-join-view' %}"><b>Заявки</b></a> 
        <a type="button" class="btn btn-outline-primary flex-fill" href="{% url 'purchase-view' %}"><b>Закупки</b></a>
        <a type="button" class="btn btn-outline-primary flex-fill" href="{% url 'report-in-use' %}"><b>Отчеты</b></a>
    </div>
</div>
<div class="card">
    <div class="card-body p-2">
        <div class="row g-2">  <!-- Добавлен контейнер row с отступами между колонками -->
            <div class="col-md-4">
                <a href="{% url 'requests-admin-join-view' %}" 
                   class="btn btn-outline-primary w-100"><b>Заявки на вступление в организацию</b></a>
            </div>
            <div class="col-md-4">
                <a href="{% url 'requests-admin-repair-view' %}" 
                   class="btn btn-outline-primary w-100"><b>Заявки на ремонт оборудования</b></a>
            </div>
            <div class="col-md-4">
                <a href="{% url 'requests-creation-view-admin' %}" 
                   class="btn btn-primary w-100"><b>Заявки на создание</b></a>
            </div>
        </div>
    </div>
</div>
{% for request in requests %}
    {% if request.status == "IP" %}
    <div class="card mt-2">
        <div class="card-header d-flex justify-content-between">
            <b class="col-md-6">{{request.title}}</b>
            <div class="col-md-2 d-flex gap-1 justify-content-end">
                <a href="{% url 'requests-creation-decline' request.pk %}"><span class="badge text-bg-danger p-2"><i class="bi bi-x-lg"></i></span></a>
                <a href="{% url 'requests-creation-accept' request.pk %}"><span class="badge text-bg-primary p-2"><i class="bi bi-check-lg"></i></span></a>
            </div>
        </div>
        <div class="card-body d-grid">
            <b class="col-md-4">Описание: <div class="card-text">{{request.description}}</div></b>
            <b class="col-md-4">Количество: <div class="card-text">{{request.amount}}</div></b>
        </div>
    </div>
    {% endif %}
{% endfor %}
{% endblock %}