{% extends 'base/base.html' %}
{% block title %} Выберите организацию {% endblock %}
{% block body %}
<div class="container p-0 m-0">
    <div class="card mb-2 shadow-sm w-100">
        <div class="card-body d-flex gap-2 p-2">
            <a type="button" class="btn btn-outline-primary flex-fill" href="{% url 'user-dashboard' %}"><b>Дашборд</b></a>
            <a type="button" class="btn btn-outline-primary flex-fill" href="{% url 'user-inventory' %}"><b>Мой инвентарь</b></a>
            <a type="button" class="btn btn-primary flex-fill" href="{% url 'requests-user-view' %}"><b>Мои заявки</b></a> 
        </div>
    </div>
    <div class="card mb-2 shadow-sm w-100">
        <div class="card-body d-flex gap-2 p-2">
            <a type="button" class="btn btn-outline-primary flex-fill" href="{% url 'requests-user-view' %}"><b>Починка</b></a>
            <a type="button" class="btn btn-primary flex-fill" href="{% url 'requests-creation-view' %}"><b>Новый инвентарь</b></a>
        </div>
    </div>
    {% for request in requests %}
    <div class="card mt-2">
        <div class="card-body d-flex justify-content-between align-items-center">
            <b class="col-md-6">{{request.title}}</b>
            <div class="col-md-2 d-flex align-items-center">
                {% if request.status == "IP" %}
                <span class="badge w-100 text-bg-warning">В процессе</span>
                {% elif request.status == "DC" %}
                <span class="badge w-100 text-bg-danger">Отклонено</span>
                {% else %}
                <span class="badge w-100 text-bg-success">Принято</span>
                {% endif %}
            </div>
        </div>
    </div>

{% endfor %}
</div>
{% endblock %}