{% extends 'base/base.html' %}
{% block title %} Выберите организацию {% endblock %}
{% block body %}
<div class="container p-0 m-0">
    <div class="card mb-2 shadow-sm w-100">
        <div class="card-body d-flex gap-2 p-2">
            <a type="button" class="btn btn-outline-primary flex-fill" href="{% url 'user-dashboard' %}"><b>Дашборд</b></a>
            <a type="button" class="btn btn-primary flex-fill" href="{% url 'user-inventory' %}"><b>Мой инвентарь</b></a>
            <a type="button" class="btn btn-outline-primary flex-fill" href="{% url 'requests-user-view' %}"><b>Мои заявки</b></a> 
        </div>
    </div>
    {% for item in items %}
    <div class="card mb-4">
        <div class="card-body d-flex">
            <div class="container">
                <h5 class="card-title">{{item.item.title}}</h5>
                <p class="card-text">{{item.item.supplier}}</p>
            </div>
            <div class="d-grid gap-1">
                <a href="/items/rent/cancel/{{item.pk}}"><span class="badge text-bg-danger p-2"><i class="bi bi-x"></i></span></a>
                <a href="{% url 'requests-repair-add' item.item.pk %}"><span class="badge text-bg-warning p-2"><i class="bi bi-screwdriver"></i></span></a>
            </div>
        </div>
    </div>

{% endfor %}
</div>
{% endblock %}