{% extends 'base/base.html' %}
{% block title %} Выберите организацию {% endblock %}
{% block body %}
<div class="conatiner d-grid w-100 p-0 m-0">
<div class="card mb-2 shadow-sm w-100">
    <div class="card-body d-flex gap-2 p-2">
        <a type="button" class="btn btn-outline-primary flex-fill" href="{% url 'user-dashboard' %}"><b>Дашборд</b></a>
        <a type="button" class="btn btn-outline-primary flex-fill" href="{% url 'requests-admin-join-view' %}"><b>Заявки</b></a> 
        <a type="button" class="btn btn-primary flex-fill" href="{% url 'purchase-view' %}"><b>Закупки</b></a>
        <a type="button" class="btn btn-outline-primary flex-fill" href="{% url 'report-in-use' %}"><b>Отчеты</b></a>
    </div>
</div>
<div class="d-grid gap-2">
{% for purchase in purchases %}
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h5>{{purchase.title}}</h5>
        <a href="{% url 'purchase-delete' purchase.pk %}"><span class="badge text-bg-danger p-2"><i class="bi bi-trash"></i></span></a>
    </div>
        <div class="row g-0">
            <div class="col-md-3 card-body border-end">
                <p class="card-text"><b>Наименование: {{purchase.item.title}}</b></p>
            </div>
            <div class="col-md-3 card-body border-end">
                <p class="card-text"><b>Фирма производителя: {{purchase.item.supplier}}</b></p>
            </div>
            <div class="col-md-3 card-body border-end">
                <p class="card-text"><b>Артикул: <a href="{% url 'item-detailed' purchase.item.id %}">{{purchase.item.id}}</a></b></p>
            </div>
            <div class="col-md-3 card-body">
                <p class="card-text"><b>Количество: {{purchase.amount}}</b></p>
            </div>
        </div>
</div>
{% endfor %}
<a href = "{% url 'purchase-create' %}" class="text-decorations-none">
    <div class="card w-100">
        <div class="card-body d-flex align-items-center justify-content-center">
            <i class="bi bi-plus-circle"></i>
        </div>
    </div>
</a>
</div>
{% endblock %}